@model Daniel15.Web.Areas.Admin.ViewModels.Blog.EditViewModel

@{
	Model.Title = "Edit Post";
}

@Html.ActionLink("← Back to administration", MVC.Admin.Blog.Index())

@using (Html.BeginForm())
{
	<div id="main">
		@Html.ValidationSummary()

		<p>
			@Html.LabelFor(x => x.Post.Title, "Title:")
			@Html.TextBoxFor(x => x.Post.Title)
		</p>
		<p>
			@Html.LabelFor(x => x.Post.Slug, "Slug:")
			@Html.TextBoxFor(x => x.Post.Slug)
		</p>
		<p>
			@Html.LabelFor(x => x.Post.Date, "Date:")
			@Html.TextBoxFor(x => x.Post.Date)
		</p>
		<p>
			@Html.CheckBoxFor(x => x.Post.Published)
			@Html.LabelFor(x => x.Post.Published)
		</p>
		<p>
			@Html.LabelFor(x => x.Post.RawContent, "Post (wrap paragraphs in <p> tags):")<br />
			@Html.TextAreaFor(x => x.Post.RawContent, rows: 15, columns: 100, htmlAttributes: new { })
		</p>
		<p>
			@Html.LabelFor(x => x.Post.Summary, "Summary:")<br />
			@Html.TextAreaFor(x => x.Post.Summary, rows: 10, columns: 100, htmlAttributes: new { })
		</p>
	</div>
	<div id="metadata">
		<p>
			@Html.LabelFor(x => x.Post.MainCategoryId, "Main category:")
			@Html.DropDownListFor(x => x.Post.MainCategoryId, Model.Categories.Select(cat => new SelectListItem { Text = cat.Title, Value = cat.Id.ToString() }))
		</p>
		<p>
			<label>Categories:</label>
			<input type="text" id="category-search" />
			<!--input type="button" id="category-create" value="Create new" /-->
			<br />
			<div id="categories">
				@Html.CheckboxListFor(x => x.PostCategoryIds, Model.Categories, x => x.Id, x => x.Title)
			</div>
		</p>
		<p>
			<label>Tags:</label><br />
			<div id="tags">
				@Html.CheckboxListFor(x => x.PostTagIds, Model.Tags, x => x.Id, x => x.Title)
			</div>
		</p>
	</div>
	
	<p style="clear: both" >
		<input type="submit" value="Save" />
	</p>
}