@using System.Globalization
@using System.Threading.Tasks
@using Daniel15.Web.ViewModels.Blog
@model Daniel15.Web.ViewModels.Blog.SidebarViewModel
@inject Daniel15.Web.Configuration.ISiteConfiguration Config

<ul>
	<li>
		<p>
			<a href="@Config.FeedBurnerUrl" style="display: inline-block"><img src="https://feeds.feedburner.com/~fc/daniel15?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" style="display: inline-block" /></a>
			<a href="https://twitter.com/Daniel15" style="display: inline-block"><img src="https://button.twittercounter.com/static/?username=Daniel15" alt="TwitterCounter for Daniel15" width="88" height="26" border="0" /></a>
		</p>
	</li>
	<li>
		@Html.Partial("_Search")
	</li>
	<li>
		<h2>Archives</h2>
		<ul id="sidebar-archives">
			@foreach (var year in Model.Counts)
			{
				<li>
					<a href="">@year.Key ▼</a>
					<ul>
						@foreach (var month in year.Value)
						{
							<li><a href="@Url.Action("Archive", "Blog", new { year = year.Key, month = month.Key.ToString("00") })">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month.Key) @year.Key (@month.Value)</a></li>
						}
					</ul>
				</li>
			}
		</ul>
	</li>
	<li>
		<h2>Categories</h2>
		@Html.Partial("_SidebarCategories", new SidebarCategoriesViewModel
		{
			CategoryTree = Model.Categories,
			Categories = Model.Categories[0],	
		})
	</li>
</ul>
