@model List<Daniel15.Web.Models.Blog.PostSummaryModel>

<div id="blog-posts" class="blog-posts">
	<h2>@Html.ActionLink("Recent Blog Posts", MVC.Blog.Index())</h2>
	<ul>
		@foreach (var post in Model)
		{
			<li><time datetime="@post.Date.ToString("s")">@post.Date.ToStringWithOrdinal("d{0} MMM yyyy")</time> <a href="@Url.BlogPost(post)">@post.Title</a></li>
		}
	</ul>
</div>