@model List<Daniel15.Web.Models.Blog.PostSummaryModel>

<h2>@Html.ActionLink("Recent Blog Posts", MVC.Blog.Index())</h2>
<ul id="blog-posts">
	@foreach (var post in Model)
	{
		<li><time datetime="@post.Date.ToString("s")">@post.Date.ToStringWithOrdinal("d{0} MMM yyyy")</time> <a href="@Url.BlogPost(post)">@post.Title</a></li>
	}
</ul>