@model Daniel15.Web.ViewModels.Shared.CheckboxListModel
@{ int i = 0; }
<ul class="checkboxList @Model.Name">
	@foreach (var item in Model.Items)
	{
		<li>
			<input type="checkbox" id="@Model.Name-@(++i)" name="@Model.Name" value="@item.Id" checked="@item.Selected" />
			<label for="@Model.Name-@i">@item.Label</label>
		</li>
	}
</ul>