@inject Daniel15.Infrastructure.ISiteConfiguration Config
@using System.Threading.Tasks
@using Daniel15.Web.Extensions
@model Daniel15.Web.ViewModels.ViewModelBase
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6 ielt8 ielt9"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7 ielt8 ielt9"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js non-ie"> <!--<![endif]-->
<head>
	<title>@(string.IsNullOrEmpty(Model.Title) ? string.Empty : Model.Title + " — ")Daniel15</title>
	<base href="@Url.ContentAbsolute("~/")" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width" />
	<meta name="Author" content="Daniel Lo Nigro (Daniel15)" />
	<meta property="fb:admins" content="731901032" />
	<meta property="og:country_name" content="Australia" />
	<meta property="og:title" content="@(Model.Title ?? "Daniel15's Site")" />
	@if (!string.IsNullOrEmpty(Model.Description))
	{
		<meta name="Description" content="@Model.Description" />
		<meta property="og:description" content="@Model.Description" />
	}
	
	@if (Model.LastModified.HasValue)
	{
		<meta name="Date" content="@Model.LastModified.Value.ToString("yyyy-MM-dd")" />
		<meta name="DC.Date" content="@Model.LastModified.Value.ToString("yyyy-MM-dd")" />
	}
	@RenderSection("extraMeta", required: false)

	<environment names="Development">
		<link rel="stylesheet" href="~/cache/main.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/cache/main.min.css" asp-append-version="true"/>
	</environment>
	
	<!--[if lt IE 9]><script src="@Url.Js("lib/IE9.js")"></script><![endif]-->

	<!-- Other stuff -->
	<link rel="start" href="/" title="Home" />
	<link rel="alternate" type="application/rss+xml" title="@Config.BlogName - RSS Feed" href="@Config.FeedBurnerUrl" />
	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		// Google Analytics
		var _gaq = [['_setAccount', '@Config.GoogleAnalyticsAccount'], ['_trackPageview']];
		(function (d, t)
		{
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			g.src = '//www.google-analytics.com/ga.js';
			g.async = true;
			s.parentNode.insertBefore(g, s);
		}(document, 'script'));
	</script>
	@RenderSection("extraHead", required: false)

</head>
<body id="@Html.BodyId()" class="@Html.BodyClass()">
	<div id="main-container">
		<header>
			@Html.Menu()

			<h1><a href="/" title="Daniel15 is awesome">@(Model.Heading ?? Model.Title)</a></h1>
		</header>
		<div id="colmask"><div id="colright">
			<div id="content_wrap"><div id="content" role="main">
				@if (TempData["topMessage"] != null)
				{
					<div id="top_message" class="@(TempData["topMessageType"] ?? "success")">@Html.Raw(TempData["topMessage"])</div>
				}
				@RenderBody()
			</div></div>	  
			@if (IsSectionDefined("sidebar"))
			{
				<aside id="sidebar">
					@RenderSection("sidebar", required: false)
				</aside>
			}

		</div></div>
		<footer>
			&copy;2008&ndash;2015 <a href="http://dan.cx/">Daniel15 (Daniel Lo Nigro)</a>.<br />
			@Model.Version
			@if (Model.LastModified.HasValue)
			{
				<text>This page last modified @Model.LastModified.Value.ToString("d MMM yyyy")</text>
			}
		</footer>
	</div>
	<!-- Now for the JS -->
	<script 
		src="http://fb.me/react-0.12.1.min.js"
		asp-fallback-src="~/Content/js/lib/react-0.12.1.min.js"
		asp-fallback-test="window.React">
    </script>
	<environment names="Development">
		<script src="~/cache/main.js"></script>
		<script>Events.initPage();</script>
		<script src="~/cache/syntaxHighlighter.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/cache/main.js" asp-append-version="true"></script>
		<script>Events.initPage();</script>
		<script src="~/cache/syntaxHighlighter.js"  asp-append-version="true"></script>
		<link rel="stylesheet" href="~/cache/main.min.css"/>
	</environment>
	@RenderSection("scripts", required: false)
	
	<!-- Prompt IE 6 and 7 users to install Chrome Frame -->
	<!--[if lt IE 8]>
		<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<div id="ie-sucks">I no longer fully support Internet Explorer 6 and 7, and stuff may be broken for you. Consider <a href="http://browsehappy.com/">updating your browser</a> :)</div>
	<![endif]-->
	
	@RenderSection("extraFoot", required: false)
</body>
</html>
<!-- Generated at @DateTime.Now -->
