@using Daniel15.Web.Areas.Gallery.Models.Screenshot
@model Daniel15.Web.Areas.Gallery.ViewModels.Screenshot.IndexViewModel

@{
	Model.Heading = "Screenshots";
	
	Model.Title = "Screenshots";
	if (!string.IsNullOrWhiteSpace(Model.Path))
	{
		Model.Title += " — " + Model.Path;
	}
}

<h2>
	@Html.ActionLink("Screenshots", MVC.Gallery.Screenshot.Index())
	
	@if (!string.IsNullOrWhiteSpace(Model.Path))
	{
		var allSegments = Model.Path.Split('/');
		var segments = new List<string>();
	 
		foreach (var segment in allSegments)
		{
			segments.Add(segment);
			var currentPath = string.Join("/", segments);
			<text>—</text>
			@Html.ActionLink(segment, MVC.Gallery.Screenshot.Index(currentPath))
		}
	}
</h2>

<ul class="files">
	@foreach (var file in Model.Files)
	{
		<li>
			<a href="@file.Url">
				<figure>
					@if (file.Type == ScreenshotFileModel.FileType.File)
					{
						<img src="@file.ThumbnailUrl" alt="Thumbnail of @file.FileName" />	
					}
					<figcaption>@file.FileName</figcaption>
				</figure>
			</a>
		</li>
	}
</ul>