@using Daniel15.Web.Areas.Gallery.Models
@model Daniel15.Web.Areas.Gallery.ViewModels.IndexViewModel

@{
	// TODO: Different heading and title per gallery
	Model.Heading = Model.Gallery.Title;

	Model.Title = Model.Gallery.Title;
	if (!string.IsNullOrWhiteSpace(Model.Path))
	{
		Model.Title += " — " + Model.Path;
	}
}

<h2>
	@Html.ActionLink(Model.Gallery.Title, MVC.Gallery.Gallery.Index(Model.Gallery.Name))
	
	@if (!string.IsNullOrWhiteSpace(Model.Path))
	{
		var allSegments = Model.Path.Split('/');
		var segments = new List<string>();
	 
		foreach (var segment in allSegments)
		{
			segments.Add(segment);
			var currentPath = string.Join("/", segments);
			<text>—</text>
			@Html.ActionLink(segment, MVC.Gallery.Gallery.Index(Model.Gallery.Name, currentPath))
		}
	}
</h2>

<ul class="files">
	@foreach (var file in Model.Files)
	{
		<li>
			<a href="@file.Url">
				<figure>
					@if (file.Type == GalleryFileModel.FileType.File)
					{
						<img src="@file.ThumbnailUrl" alt="Thumbnail of @file.FileName" />	
					}
					<figcaption>@file.FileName</figcaption>
				</figure>
			</a>
		</li>
	}
</ul>