@model Daniel15.Web.ViewModels.Account.LoginViewModel

@{
	Model.Title = "Log in";
}

<form asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Model.ReturnUrl" method="POST">
	@Html.ValidationSummary(true)

	@Html.LabelFor(m => m.UserName)
	@Html.TextBoxFor(m => m.UserName)
	@Html.ValidationMessageFor(m => m.UserName)<br />

	@Html.LabelFor(m => m.Password)
	@Html.PasswordFor(m => m.Password)
	@Html.ValidationMessageFor(m => m.Password)<br />
	
	<p><input type="submit" value="Log in" /></p>
</form>