@using ServiceStack.Text
@model Daniel15.Web.ViewModels.Blog.PostViewModel

<div id="comments">
	<div id="disqus_thread">
		<h3>Comments</h3>
		@Html.Partial(MVC.Blog.Views._CommentList, Model.Comments)
	</div>
</div>

<script type="text/javascript">
    var disqus_shortname = @Html.Raw(Config.DisqusShortname.ToJson()),
        disqus_title = @Html.Raw(Model.Post.Title.ToJson()),
        disqus_identifier = @Model.Post.DisqusIdentifier,
        disqus_url = @Html.Raw(Url.BlogPostAbsolute(Model.Post).ToJson());

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>