@model Daniel15.Web.Models.Blog.PostModel

<header>
	<h2 itemprop="name"><a href="@Url.Blog(Model)" rel="bookmark" title="Permanent link to @Model.Title" itemprop="url">@Model.Title</a></h2>
	<ul class="postmetadata">
		<li class="date"><time datetime="@Model.Date.ToString("s")" itemprop="datePublished">@Model.Date.ToStringWithOrdinal("d{0} MMMM yyyy")</time></li>
		<li class="category"><a href="@Url.Action(MVC.Blog.Category(Model.MainCategory.Slug))" itemprop="keywords">@Model.MainCategory.Title</a></li>
		<li class="comments"><a href="@Url.Blog(Model)#disqus_thread" data-disqus-identifier="@Model.Id">Comments</a></li>
		<li class="permalink">TODO: Short URL</li>
	</ul>
</header>
<div itemprop="articleBody">