@model Daniel15.Web.ViewModels.Blog.PostViewModel

<!-- Begin share links -->
<div class="share">
	<ul>
		@foreach (var kvp in Model.SocialNetworks)
		{
			<li class="@kvp.SocialNetwork.Id">
				<a href="@kvp.Url" title="Share on @kvp.SocialNetwork.Name">
					<span class="name">@kvp.SocialNetwork.Name</span>
					<span class="count">@kvp.Count</span>
				</a>
			</li>
		}
	</ul>
</div>
<!-- End share links -->